@import "tailwindcss";

.gradient-button {
    @apply bg-gradient-to-br from-[#ffffff] to-[#eddfad];
}

.gradient-text {
    @apply bg-gradient-to-br bg-clip-text text-transparent;
    background-image: linear-gradient(to bottom right, #e3d98d, #f15252);
}


.gradient-background {
    @apply bg-gradient-to-br from-[#e3d98d] to-[#f15252];
}

.navbar {
    @apply flex flex-row mt-5;
}

/* Home Page */

.home-page-intro-content {

}

/* Opening new page class animations */
.open-page {
    @apply animate-[scaleIn_1.25s_ease-in-out_forwards];
}

/* Animations */
@keyframes scaleIn {
    0% {
        transform: translateY(200px);
    }
    100% {
        transform: translateY(0px);
    }
}